body {
    font-size: 18px;
}

a {
    color: #2685C4;
}

section {
    line-height: 1.25rem;
}

button, .btn {
    background-color: #2685C4;
    color: #ffffff;
}

#msg {
    border-top: #cccccc 0.5rem solid;
}

#score-list li:nth-child(odd) {
    background-color: #E9F2F9;
}
