body {
    font-size: 18px;
}

section {
    line-height: 1.5rem;
}

button, .btn {
    background-color: #59437D;
    color: #ffffff;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 0.5vh;
}
