body {
    font-size: 18px;
}

section {
    line-height: 1.25rem;
}

button, .btn {
    background-color: #59437D;
    color: #ffffff;
}

#msg {
    border-top: #cccccc 0.5rem solid;
}

/* Bootstrap only has 2 list styles */
.list-decimal {
    list-style: decimal;
}
